<section id="about" class="about">
  <div class="about__container">
    <h2 class="about__title">About game</h2>
    <p class="about__text">
      Escape to paradise in Seaside Resort: Match 3! Solve engaging match-3
      puzzles to design and expand your dream beachfront resort. Unlock
      breathtaking locations, decorate tropical villas, and discover hidden
      treasures along the shore. Whether you're a puzzle master or a casual
      gamer, this relaxing adventure will transport you to a world of sun, sand,
      and endless fun!
    </p>
    <div class="about__image">
      <img src="/pictures/figure1 1x.png" alt="Rocket Icon" />
    </div>
  </div>
  <div class="about__phone">
    <img src="/pictures/iPhone 15 Pro 1x.png" alt="iPhone displaying game" />
  </div>
</section>
