<div id="cookie-modal" class="cookie-modal">
  <div class="cookie-modal-content">
    <div class="cookie-modal-wrapper-text">
      <h2 class="cookie-modal-title">Our cookie Policy</h2>
      <p class="cookie-modal-text">
        The words of which the initial letter is capitalized have meanings
        defined under the following conditions. The following definitions shall
        have the same meaning regardless of whether they appear in singular or
        in plural.
      </p>
    </div>
    <div class="cookie-modal-wrapper-btn">
      <button id="accept-cookies" class="cookie-modal-btn">
        Accept cookies
      </button>
      <button id="decline-cookies" class="cookie-modal-btn">
        Decline cookies
      </button>
    </div>
  </div>
</div>
