<section class="features">
  <div class="features__container">
    <img
      class="features__decoration-left"
      src="/pictures/figure2 1x.png"
      alt="Decoration Left"
    />
    <h2 class="features__title">Key Features</h2>

    <ul class="features__list">
      <li class="features__item">
        <img class="features__icon" src="/pictures/figure3 1x.png" alt="Icon" />
        <p class="features__text">
          Relaxing Match 3 Gameplay: Match seashells, starfish, and tropical
          fruits to complete puzzles!
        </p>
      </li>

      <li class="features__item">
        <img class="features__icon" src="/pictures/figure3 1x.png" alt="Icon" />
        <p class="features__text">
          Resort Building & Customization: Unlock and decorate luxurious
          beachfront locations.
        </p>
      </li>

      <li class="features__item">
        <img class="features__icon" src="/pictures/figure3 1x.png" alt="Icon" />
        <p class="features__text">
          Exciting Challenges & Rewards: Solve unique puzzles and earn rewards
          to upgrade your resort.
        </p>
      </li>

      <li class="features__item">
        <img class="features__icon" src="/pictures/figure3 1x.png" alt="Icon" />
        <p class="features__text">
          Tropical Atmosphere: Enjoy stunning visuals, ocean waves, and soothing
          beach sounds.
        </p>
      </li>

      <li class="features__item">
        <img class="features__icon" src="/pictures/figure3 1x.png" alt="Icon" />
        <p class="features__text">
          Engaging Storyline: Meet interesting characters and uncover secrets
          hidden in the resort.
        </p>
      </li>

      <li class="features__item">
        <img class="features__icon" src="/pictures/figure3 1x.png" alt="Icon" />
        <p class="features__text">
          Daily Events & Leaderboards: Compete in challenges and earn exclusive
          rewards!
        </p>
      </li>
    </ul>

    <img
      class="features__decoration-bottom"
      src="/pictures/figure4 1x.png"
      alt="Decoration Bottom"
    />
  </div>
</section>
