<footer class="footer">
  <ul class="footer-list">
    <li class="footer-item">
      <a href="#">Privacy Policy</a>
    </li>
    <li class="footer-item">
      <a href="./terms&Conditions.html">Terms and Conditions</a>
    </li>
    <li class="footer-item">
      <a href="./cookiesPolicy.html">Cookies Policy</a>
    </li>
    <li class="footer-item">
      <a
        href="https://epicstormway.com"
        target="_blank"
        rel="noopener noreferrer"
        >All rights reserved epicstormway.com</a
      >
    </li>
    <li class="footer-item">2025</li>
  </ul>
</footer>
