<section id="gallery" class="gallery-wrapper">
  <h2 class="gallery-title">Gallery</h2>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="/pictures/picture1-1x.png"
          srcset="/pictures/picture1-1x.png 1x, /pictures/picture1-2x.png 2x"
          alt="picture game"
          class="swiper-img"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/pictures/picture2-1x.png"
          srcset="/pictures/picture2-1x.png 1x, /pictures/picture2-2x.png 2x"
          alt="picture game"
          class="swiper-img"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/pictures/picture3-1x.png"
          srcset="/pictures/picture3-1x.png 1x, /pictures/picture3-2x.png 2x"
          alt="picture game"
          class="swiper-img"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/pictures/picture4-1x.png"
          srcset="/pictures/picture4-1x.png 1x, /pictures/picture4-2x.png 2x"
          alt="picture game"
          class="swiper-img"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/pictures/picture5-1x.png"
          srcset="/pictures/picture5-1x.png 1x, /pictures/picture5-2x.png 2x"
          alt="picture game"
          class="swiper-img"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/pictures/picture6-1x.png"
          srcset="/pictures/picture6-1x.png 1x, /pictures/picture6-2x.png 2x"
          alt="picture game"
          class="swiper-img"
        />
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="gallery-desktop">
    <img
      src="/pictures/picture2-1x.png"
      srcset="/pictures/picture2-1x.png 1x, /pictures/picture2-2x.png 2x"
      alt="picture game"
      class="gallery-img img-1"
    />
    <img
      src="/pictures/picture3-1x.png"
      srcset="/pictures/picture3-1x.png 1x, /pictures/picture3-2x.png 2x"
      alt="picture game"
      class="gallery-img img-2"
    />
    <img
      src="/pictures/picture1-1x.png"
      srcset="/pictures/picture1-1x.png 1x, /pictures/picture1-2x.png 2x"
      alt="picture game"
      class="gallery-img img-3"
    />
    <img
      src="/pictures/picture5-1x.png"
      srcset="/pictures/picture5-1x.png 1x, /pictures/picture5-2x.png 2x"
      alt="picture game"
      class="gallery-img img-4"
    />
    <img
      src="/pictures/picture6-1x.png"
      srcset="/pictures/picture6-1x.png 1x, /pictures/picture6-2x.png 2x"
      alt="picture game"
      class="gallery-img img-5"
    />
  </div>
</section>
