<header class="header">
  <div class="logo">
    <img class="logo-img" src="/favicon.svg" alt="Game Logo" />
  </div>

  <button class="menu-toggle" id="menu-toggle">
    <img class="menu-icon" src="/menu.svg" alt="Menu" />
  </button>

  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item"><a class="nav-link" href="#hero">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#about">About game</a></li>
      <li class="nav-item"><a class="nav-link" href="#features">Feature</a></li>
      <li class="nav-item"><a class="nav-link" href="#faq">FAQ</a></li>
      <li class="nav-item"><a class="nav-link" href="#reviews">Reviews</a></li>
      <li class="nav-item"><a class="nav-link" href="#gallery">Gallery</a></li>
    </ul>
  </nav>

  <div class="mobile-menu" id="mobile-menu">
    <div class="mobile-header">
      <div class="mobile-logo">
        <img class="logo-img" src="/favicon.svg" alt="Game Logo" />
      </div>
      <button class="close-menu" id="close-menu">
        <img class="close-icon" src="/close.svg" alt="Close menu" />
      </button>
    </div>
    <ul class="mobile-nav-list">
      <li class="nav-item"><a class="nav-link" href="#hero">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#about">About game</a></li>
      <li class="nav-item"><a class="nav-link" href="#features">Feature</a></li>
      <li class="nav-item"><a class="nav-link" href="#faq">FAQ</a></li>
      <li class="nav-item"><a class="nav-link" href="#reviews">Reviews</a></li>
      <li class="nav-item"><a class="nav-link" href="#gallery">Gallery</a></li>
    </ul>
  </div>
</header>
<button id="scrollToTop" class="scroll-to-top">&#8679;</button>
