<section id="hero" class="hero">
  <div class="hero__container">
    <h1 class="hero__title">
      Seaside Resort:<br />
      Match 3
    </h1>
    <a
      href="https://play.google.com/store/search?q=Seaside%20Resort%3A%20Match%203&c=apps"
      target="_blank"
      class="hero__button"
    >
      <img
        class="hero__button-icon"
        src="/pictures/google play 1x.png"
        alt="Google Play"
      />
      <span class="hero__button-text">Play now</span>
    </a>
  </div>
</section>
