<section id="reviews" class="reviews-section">
  <h2 class="reviews-title">Player Reviews</h2>
  <div class="reviews-wrapper">
    <div class="reviews-box">
      <p class="reviews-text-item">Sophia L., Casual Gamer:</p>
      <p class="reviews-text">
        "A perfect escape! Love the beautiful scenery and relaxing gameplay!"
      </p>
      <div class="reviews-stars">
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
      </div>
      <img
        src="/pictures/figure2 1x.png"
        srcset="/pictures/figure2 1x.png 1x, /pictures/figure2 2x.png 2x"
        alt="icon rocket"
        class="reviews-rocket-icon"
      />
    </div>
    <div class="reviews-box">
      <p class="reviews-text-item">Emma C., Interior Design Fan:</p>
      <p class="reviews-text">
        "Decorating my own tropical resort is so satisfying! Love the
        customization!"
      </p>
      <div class="reviews-stars">
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
      </div>
      <img
        src="/pictures/figure3 1x.png"
        srcset="/pictures/figure3 1x.png 1x, /pictures/figure3 2x.png 2x"
        alt="icon ball"
        class="reviews-ball-icon"
      />
    </div>
    <div class="reviews-box">
      <p class="reviews-text-item">Olivia K., Daily Player:</p>
      <p class="reviews-text">
        "Addictive in the best way! I play every day and keep coming back for
        more!"
      </p>
      <div class="reviews-stars">
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
      </div>
      <img
        src="/pictures/figure4 1x.png"
        srcset="/pictures/figure4 1x.png 1x, /pictures/figure4 2x.png 2x"
        alt="icon bomb"
        class="reviews-bomb-icon"
      />
    </div>
    <div class="reviews-box">
      <p class="reviews-text-item">Daniel R., Puzzle Enthusiast:</p>
      <p class="reviews-text">
        "Challenging yet fun! The match-3 mechanics are fresh and exciting!"
      </p>
      <div class="reviews-stars">
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
      </div>
      <img
        src="/pictures/figure5 1x.png"
        srcset="/pictures/figure5 1x.png 1x, /pictures/figure5 2x.png 2x"
        alt="icon green"
        class="reviews-green-icon"
      />
    </div>
    <div class="reviews-box">
      <p class="reviews-text-item">Michael T., Adventure Seeker:</p>
      <p class="reviews-text">
        "The hidden secrets and storyline make it more than just a puzzle game!"
      </p>
      <div class="reviews-stars">
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
        <img
          src="/pictures/star 1x.png"
          srcset="/pictures/star 1x.png 1x, /pictures/star 2x.png 2x"
          alt="icon star"
          class="reviews-star-icon"
        />
      </div>
      <img
        src="/pictures/figure1 1x.png"
        srcset="/pictures/figure1 1x.png 1x, /pictures/figure1 2x.png 2x"
        alt="icon firecracker"
        class="reviews-firecracker-icon"
      />
    </div>
  </div>
</section>
