.main-wrapper {
  margin-bottom: 15px;
  width: 320px;
  @include media(desktop) {
    width: 1200px;
    margin-bottom: 40px;
  }
}
.palm-img {
  display: none;
  @include media(desktop) {
    display: block;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 93px;
    height: auto;
  }
}
.section-wrapper {
  padding: 0 20px 25px 20px;
  @include media(desktop) {
    padding: 0 48px 40px 48px;
  }
}
.section-title {
  font-family: $_second_family;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: $_light;
  margin-bottom: 15px;
  @include media(desktop) {
    font-size: 48px;
    margin-bottom: 24px;
  }
}
.section-subtitle {
  font-family: $_second_family;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: $_light;
  margin-bottom: 15px;
  @include media(desktop) {
    font-size: 40px;
    margin-bottom: 24px;
  }
}

.section-text {
  font-family: $_font_family;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: $_light;
  word-wrap: break-word;
  @include media(desktop) {
    font-size: 24px;
  }
}

.section-text-padding {
  padding-bottom: 18px;
  @include media(desktop) {
    padding-bottom: 24px;
  }
}
.section-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: $_link;
  word-wrap: break-word;
}
.section-list {
  list-style-type: disc;
  padding-left: 20px;
  font-family: $_font_family;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: $_light;
  @include media(desktop) {
    font-size: 24px;
    padding-left: 48px;
  }
}
.section-accent-text {
  font-family: $_second_family;
  font-weight: 600;
  @include media(desktop) {
    font-size: 24px;
  }
}
.section-text-italic {
  font-family: $_second_family;
}
.section-accent-link {
  font-family: $_second_family;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: $_link;
}
