.gallery-wrapper {
  padding: 25px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(desktop) {
    padding: 80px 142px 135px 142px;
  }
}
.gallery-title {
  font-family: $_second-family;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: $_light;
  margin-bottom: 25px;
  @include media(desktop) {
    font-size: 48px;
    margin-bottom: 24px;
  }
}
.swiper {
  width: 100%;
  max-width: 288px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include media(desktop) {
    display: none;
  }
}
.swiper-slide {
  flex: 0 0 136px;
  height: 242px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 136px;
  height: 242px;
  object-fit: cover;
}
.swiper-pagination {
  position: static;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #e6f1e4;
  opacity: 1;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #e6f1e4;
  width: 8px;
  height: 8px;
}
.gallery-desktop {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 710px;
    height: 375px;
    margin: auto;
  }
}
.gallery-img {
  width: 204px;
  height: 364px;
  position: absolute;
  transition: transform 0.3s ease-in-out;
  transform: translate(-50%, -50%);
}
.img-3 {
  top: 50%;
  left: 50%;
  z-index: 3;
}
.img-2 {
  top: calc(50% + 21px);
  left: calc(50% - 204px + 21px);
  z-index: 2;
}
.img-4 {
  top: calc(50% + 21px);
  left: calc(50% + 204px - 21px);
  z-index: 2;
}

.img-1 {
  top: calc(50% + 42px);
  left: calc(50% - 204px + 21px - 204px + 21px);
  z-index: 1;
}

.img-5 {
  top: calc(50% + 42px);
  left: calc(50% + 204px - 21px + 204px - 21px);
  z-index: 1;
}

.gallery-img:hover {
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 4;
}
