.rewiews-section {
  padding: 25px 16px;

  @include media(desktop) {
    padding: 80px 48px 80px 48px;
  }
}
.rewiews-title {
  font-family: $_second-family;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: $_light;
  margin-bottom: 25px;
  @include media(desktop) {
    font-size: 48px;
    margin-bottom: 24px;
  }
}
.rewiews-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  @include media(desktop) {
    gap: 24px;
  }
}
.rewiews-box {
  position: relative;
  border: 1px solid $_stroke;
  box-shadow: $_box_shadow;
  padding: 15px;
  width: 288px;
  height: 222px;
  background: $_background_box;
  //   margin-bottom: 15px;
  @include media(desktop) {
    width: 352px;
    // margin-bottom: 45px;
  }
}
.rewiews-text-item {
  font-family: $_font_family;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: $_light;
  margin-bottom: 24px;
  @include media(desktop) {
    font-size: 22px;
  }
}
.rewiews-text {
  font-family: $_font_family;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: $_light;
  margin-bottom: 24px;
  @include media(desktop) {
    font-size: 20px;
    width: 300px;
  }
}
.reviews-stars {
  display: flex;
  flex-direction: row;
}

.rewiews-star-icon {
  width: 24px;
  height: 22px;
  margin-right: 8px;
}
.rewiews-rocket-icon {
  width: 67px;
  height: 49px;
  position: absolute;
  bottom: -1%;
  right: -8%;
  opacity: 0.8;
  transform: translate(-50%, -50%) rotate(117deg);
  z-index: -1;
}
.rewiews-ball-icon {
  width: 53px;
  height: 55px;
  opacity: 0.8;
  position: absolute;
  bottom: -8%;
  right: -7%;
  transform: translate(-50%, -50%);
  z-index: -1;
  @include media(desktop) {
    width: 71px;
    height: 74px;
    bottom: -14%;
    right: -8%;
  }
}
.rewiews-bomb-icon {
  width: 53px;
  height: 53px;
  opacity: 0.8;
  position: absolute;
  bottom: -8%;
  right: -7%;
  transform: translate(-50%, -50%);
  z-index: -1;
  @include media(desktop) {
    width: 76px;
    height: 80px;
    bottom: -14%;
    right: -8%;
  }
}
.rewiews-green-icon {
  width: 55px;
  height: 55px;
  opacity: 0.8;
  position: absolute;
  bottom: -8%;
  right: -7%;
  transform: translate(-50%, -50%);
  z-index: -1;
  @include media(desktop) {
    width: 65px;
    height: 61px;
    bottom: -12%;
    right: -8%;
  }
}
.rewiews-firecracker-icon {
  width: 54px;
  height: 58px;
  opacity: 0.8;
  position: absolute;
  bottom: -10%;
  right: -7%;
  transform: translate(-50%, -50%);
  z-index: -1;
  @include media(desktop) {
    width: 77px;
    height: 80px;
    bottom: -18%;
    right: -10%;
  }
}
