@import './header.scss';
@import './footer.scss';
@import './btn-to-home.scss';
@import './cookies-policy.scss';
@import './hero';
@import './about';

:root {
  font-family: $_font_family;
  color: $_light;
  background: $_background_main;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
