@import './header.scss';
@import './footer.scss';
@import './btn-to-home.scss';
@import './cookies-policy.scss';
@import './hero';
@import './about';
@import './fetures';
@import './faq.scss';
@import './player-reviews.scss';
@import './gallery.scss';
@import './privacy-policy.scss';
@import './cookie-modal.scss';

:root {
  font-family: $_font_family;
  color: $_light;
  background: $_background_main;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body-wrapper {
  max-width: 1200px;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(35, 84, 180, 0.75);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(36, 90, 172, 0.9);
}
